<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>It is Awesome BLOG!</h1>
        </div>
        <div class="create-post">
            <a href="{create_post}">create post</a>
        </div>
        <div class="title">
            <p>"{content}"</p>
        </div>
        <div class="navigation">
            <div class="button-next">
                <a href="{previous_post}">next</a>
            </div>
            <div class="button-previous">
                <a href="{next_post}">previous</a>
            </div>
        </div>
    </div>
</body>
</html>