<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="form-wrapper">
        <form method="POST">
            <div><label for="title">Title:</label><input id="title" name="title" type="text"></div>
            <div>
                <button>create_post</button>
            </div>
            <div>
                <label for="post">POST:</label><textarea name="post" id="post" cols="30" rows="10"></textarea>
            </div>
        </form>
    </div>
    <a href="{index}">THis is link to the INDex</a>
</div>
</body>
</html>